1 VERSIONINFO
FILEVERSION     3,2,0,0
PRODUCTVERSION  3,2,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904E4"
        BEGIN
            VALUE "CompanyName", "Luadch-NG Team"
            VALUE "FileDescription", "Luadch-NG - Advanced Direct Connect Hub"
            VALUE "InternalName", "Luadch"
            VALUE "LegalCopyright", "blastbeat, pulsar and Luadch-NG contributors"
            VALUE "OriginalFilename", "Luadch.exe"
            VALUE "ProductName", "Luadch-NG"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1252
    END
END

101 ICON luadch.ico
